data/*

# lsj
/lsj/checkpoints/*
/lsj/wandb/*
/lsj/txt_csv_file/*
/lsj/src/.env
/lsj/src/__pycache__

/checkpoints/Baseline/*
/models/__pycache__
/loss/__pycache__
/optimizers/__pycache__
/scheduler/__pycache__
/utils/__pycache__
/utils/.env
/wandb/*
/__pycache__

/checkpoints/UNet3plus/*

/logs/*
/unet_results/*