# multiplier 1.0, 1 에폭 warmup, 5 에폭 주기로 70% 감소
# train 640개, val 160개, batch_size train 2, val 1
# Class weights: tier_based (전략 2)
# Loss: BCE:Dice = 0.3:0.7 (단순 버전)

# data 관련 설정
image_root: /data/ephemeral/home/dataset/train/DCM
label_root: /data/ephemeral/home/dataset/train/outputs_json

# 모델명 및 사전 학습 여부
# SMP의 UnetPlusPlus with HRNet-w64 encoder (가장 큰 모델)
model_name: UnetPlusPlus
model_parameter:
  encoder_name: tu-hrnet_w64
  encoder_weights: imagenet
  classes: 29

# batch_size
train_batch_size: 2  ## 4
val_batch_size: 2    ## 8
accum_steps: 2

# val_num_worker 지정
num_workers: 4

# image resize
image_size: &image_size 1536  ## 2048

# transform 관련
train_transform:
  Resize:  
    width: *image_size
    height: *image_size

  ShiftScaleRotate:
    shift_limit: 0.05
    scale_limit: 0.05
    rotate_limit: 5
    p: 0.5
  
  HorizontalFlip:
    p: 0.5
  
  ElasticTransform:
    alpha: 1
    sigma: 50
    p: 0.3 
  
  CLAHE:
    clip_limit: 2.0
    tile_grid_size: [8, 8]
    p: 0.2
  
  RandomBrightnessContrast:
    brightness_limit: 0.1
    contrast_limit: 0.1
    p: 0.2

val_transform:
  Resize:
    width: *image_size
    height: *image_size

# 학습 관련 하이퍼파라미터
lr: 1e-3
weight_decay: 1e-6

max_epoch: &max_epoch 100

# loss 관련 설정
loss_name: Mixed

# combo loss 사용시
loss_parameter:
  losses:
    - name: BCEWithLogitsLoss
      weight: 0.3  ## 0.5
      params: {}
    - name: DiceLoss
      weight: 0.7  ## 0.5
      params:
        smooth: 1e-5

# scheduler 관련 설정
scheduler_name: CosineAnnealingWarmupRestarts

# scheduler 필요한 parameter -> dict 형태로 작성
scheduler_parameter:
  first_cycle_steps: 960  ## 1920
  warmup_steps: 160  ## 320
  max_lr: 1e-3
  min_lr: 1e-6
  cycle_mult: 1.0
  gamma: 0.7  ## 1.0


# optimizer 관련 설정
optimizer_name: adamw

# random seed값
seed: 21

# validation 관련 인자
val_fold: 0
val_interval: 1  ## 3
threshold: 0.5

# checkpoint 저장 경로
save_dir: /data/ephemeral/home/mj/pro-cv-semanticsegmentation-cv-11/checkpoints/team_HRNet-smp_w64
# 가중치 파일 이름 형식 (optional, 기본값: "best_{epoch}epoch_{dice_score:.4f}.pt")
# 사용 가능한 변수: {epoch}, {dice_score}
# 예시: "hrnet_w64_best_{epoch}epoch_{dice_score:.4f}.pt"
checkpoint_name_format: "team_hrnet-smp_w64-1536-best_{epoch}epoch_{dice_score:.4f}.pt"

# wandb
team_name: cv_11
project_name: cv-11-SEG
experiment_detail: team_hrnet-smp_w64-1536