# =========================
# Data
# =========================
data:
  train_image_root: /data/ephemeral/home/dataset/train/DCM
  train_label_root: /data/ephemeral/home/dataset/train/outputs_json
  test_image_root: /data/ephemeral/home/dataset/test/DCM
  image_size: 1024

# =========================
# Model
# =========================
model:
  name: segformer
  encoder_name: mit_b3
  encoder_weights: imagenet
  in_channels: 3
  num_classes: 29

# =========================
# Training
# =========================
train:
  batch_size: 2
  val_batch_size: 2
  num_workers: 4
  epochs: 20
  val_interval: 5
  threshold: 0.5
  amp: true

# =========================
# Optimizer
# =========================
optimizer:
  name: adamw
  lr: 5e-4          # max_lr와 동일하게 맞춰도 OK
  weight_decay: 1e-2

# =========================
# Scheduler (custom cosine + warmup)
# =========================
scheduler:
  name: cosine_warmup
  first_cycle_steps: 2000   # len(train_loader) * epochs
  cycle_mult: 1.0
  max_lr: 5e-4
  min_lr: 1e-6
  warmup_steps: 400
  gamma: 1.0

# =========================
# Loss
# =========================
loss:
  name: ftloss
  alpha: 0.6
  beta: 0.4
  gamma: 1.1

# =========================
# Seed
# =========================
seed: 21

# =========================
# Checkpoint
# =========================
checkpoint:
  save_dir: ./checkpoints
  filename: segformer_b5_ft_epoch20_1024.pt

# =========================
# WandB
# =========================
wandb:
  use: true
  api_key: "0429f581dee55eedaae87afe43b791d77d58560e"
  entity: cv_11
  project: cv-11-SEG
  name: khs_segformer_b5_ft_epoch20_1024
